<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="5">
    <listeners>
        <listener class-name="com.listeners.UiListeners" />
    </listeners>
    <test name="Test">
        <classes>
            <class name="com.ui.tests.LoginPageTest" />
            <class name="com.ui.tests.ProjectListPageTest" />
            <class name="com.ui.tests.ProjectDetailsPageTest" />
        </classes>
    </test>
</suite>
